* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 90vh;
}


.window{

  border: 2px solid black;
  width: 30px;
  height: 30px;
  background-color: yellow;

}